.vscode/**
.vscode-test/**
.github/**
.nyc_output/**
.devcontainer/**
.husky/**
archive/**
coverage/**
ollama-mcp-bridge/**
src/**
scripts/**
docs/**
**/tsconfig.json
**/tsconfig.eslint.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsbuildinfo
.gitignore
.lintstagedrc.js
jest.config.js
renovate.json
typedoc.json
install.sh
